
extends layout

block content
    .container
        h1= name
        ul
            li I'm #{age}
            li I like #{likes}
            li I work as #{works}
            if relation
                li I am Harsha's #{relation}
